
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <div class="col">
        <div class="row">
            <div class="col-12">
                <h2>Registration</h2>
                <h5>Register for the INCISE2018 Symposium</h5>
                <hr />
            </div>
            <div class="col-12" id="s1">
                <h4>We are currently open for symposium registration. To register, you need to:</h4>
                <br />
                <h4>1. Pay the registration fees </h4>
                <p>Foreign experts please pay the registration fee from @Html.ActionLink("this entrance", "Foreign").</p>
                <p>Domestic experts please pay the registration fee from @Html.ActionLink("this entrance", "Domestic").</p>
                <br />
                <h4 id="s2">2.Early bird discount fees apply until September 30th. Registration closes on October 25th.</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr><th colspan="2" class="table-secondary">Registration Fees (include applicable taxes)</th></tr>
                        <tr><th>Symposium fees</th><th>Rates in RMB</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Regular rate - early bird</td><td>¥2000</td></tr>
                        <tr><td>Regular rate – full</td><td>¥2500</td></tr>
                        <tr><td>Student rate*</td><td>Free</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" id="s3">
                <p>* We will choose 20-25 outstanding students from the application students to attend the meeting and exempt the registration fee.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-lg-block border-left">
        <h4 class="m-2">Directory</h4>
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#s1">Pay the registration fees</a>
                @Html.ActionLink("> Foreign Entrance", "Foreign", null, new { @class = "nav-link text-secondary" })
                @Html.ActionLink("> Domestic Entrance", "Domestic", null, new { @class = "nav-link text-secondary" })
                <a class="nav-link text-secondary" href="#s2">Early bird discount fees apply until September 30th.</a>
                <a class="nav-link text-secondary" href="#s3">Remarks</a>
            </li>
        </ul>
    </div>
</div>