
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <div class="col mx-auto">
        <h2 class="text-center">Contact</h2>
        <p class="text-center">Any requests please get in touch:<a href="mailto:incise2018@sustc.edu.cn">incise2018@sustc.edu.cn</a></p>
        <hr />
        <div class="text-center" style="text-align:right">
            <a href="http://www.incisenet.org/">
                <img src="~/Content/Images/INCISE.jpg" style="width:300px;" />
            </a>
        </div>
        <br />
        <div class="text-center">
            <a href="https://sustc.edu.cn">
                <img src="~/Content/Images/sustc_logo_color_1.jpg" style="width:auto;height:73px" />
            </a>
        </div>
    </div>
</div>


