
@{
    ViewBag.Title = "Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col">
        <div class="row">
            <div class="col-12" id="day0">
                <h2>INCISE 2018 Symposium Program*</h2>
                <p>*The seminar program is being finalized and will be released soon. Please note that the registration of the seminar was held during the three-day seminar. The one-day Dapeng Peninsula National Geopark Workshop in Shenzhen relies on direct contact with event organizers.</p>
                <hr />
            </div>
            <div class="col-12">
                <h4>Sunday, November 4：Participants arrive in Shenzhen.</h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width: 20%">17:30</td>
                        <td>Ice breaker</td>
                    </tr>
                </table>
            </div>
            <div class="col-12" id="day1">
                <h4>DAY 1（Monday, November 5）</h4>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width: 20%">8:20</td>
                        <td>Registration</td>
                    </tr>
                    <tr>
                        <td>8:50~9:00</td>
                        <td>Welcome</td>
                    </tr>
                    <tr class="text-danger">
                        <td><strong>9:00~10:30</strong></td>
                        <td><strong>1- Canyon processes in the space-time continuum (formation, evolution, circulation)</strong></td>
                    </tr>
                    <tr class="text-success">
                        <td>10:30~10:50</td>
                        <td>Coffee break</td>
                    </tr>
                    <tr>
                        <td>10:50~12:40</td>
                        <td>Theme 1- continued</td>
                    </tr>
                    <tr>
                        <td>12:40~13:40</td>
                        <td>Lunch time</td>
                    </tr>
                    <tr class="text-danger">
                        <td><strong>14:00~15:30</strong></td>
                        <td><strong>2 - New ways to study submarine canyons: integrated programs, new technologies and coordinated monitoring efforts</strong></td>
                    </tr>
                    <tr class="text-success">
                        <td>15:30~15:50</td>
                        <td>Coffer break</td>
                    </tr>
                    <tr>
                        <td>15:50~18:00</td>
                        <td>Theme 2- continued</td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="col-12" id="day2">
                <h4>DAY 2（Tuesday, November 6）</h4>
                <table class="table table-bordered table-striped">
                    <tr class="text-danger">
                        <td style="width: 20%"><strong>9:00~10:30</strong></td>
                        <td><strong>Theme 3 - Patterns in submarine canyons: role of scale and heterogeneity</strong></td>
                    </tr>
                    <tr class="text-success">
                        <td>10:30~10:50</td>
                        <td>Coffee break</td>
                    </tr>
                    <tr>
                        <td>10:50~12:40</td>
                        <td>Theme 3- continued</td>
                    </tr>
                    <tr>
                        <td>12:40~13:40</td>
                        <td>Lunch time</td>
                    </tr>
                    <tr class="text-danger">
                        <td><strong>14:00~15:30</strong></td>
                        <td><strong>Theme 4 - Physical and anthropogenic disturbance in submarine canyons, conservation and marine policy</strong></td>
                    </tr>
                    <tr class="text-success">
                        <td>15:30~15:50</td>
                        <td>Coffer break</td>
                    </tr>
                    <tr>
                        <td>15:50~18:00</td>
                        <td>Theme 4- continued</td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="col-12" id="day3">
                <h4>DAY3 （Wednesday, November 7）</h4>
                <table class="table table-bordered table-striped">
                    <tr class="text-danger">
                        <td style="width: 20%"><strong>9:00~10:30</strong></td>
                        <td><strong>Special Session  - Canyons and trenches in South China Sea and West Pacific</strong></td>
                    </tr>
                    <tr class="text-success">
                        <td>10:30~10:50</td>
                        <td>Coffee break</td>
                    </tr>
                    <tr>
                        <td>10:50~12:40</td>
                        <td>Special Session- continued </td>
                    </tr>
                    <tr>
                        <td>12:40~13:40</td>
                        <td>Lunch time</td>
                    </tr>
                    <tr>
                        <td>14:00~18:00</td>
                        <td>Poster Session</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-lg-block border-left">
        <h4 class="m-2">Directory</h4>
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#day0">DAY0 - Sunday, November 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#day1">DAY1 - Monday, November 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#day2">DAY2 - Tuesday, November 6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#day3">DAY3 - Wednesday, November 7</a>
            </li>
        </ul>
    </div>
</div>
