
@{
    ViewBag.Title = "Travel&Accommodations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <div class="col">
        <div class="row">
            <div class="col-12">
                <h2>Travel & Accommodations</h2>
                <h5>Travel and accommodations information</h5>
                <hr />
            </div>
            <div class="col-12">
                <p>
                    If you have arranged your travel itinerary to Shenzhen Airport you can take a taxi from the airport
                    to Kylin Villa(麒麟山庄) directly. The distance is approximately 27 KM and it will take about 30 minutes
                    and 80RMB by taxi.
                </p>
                <p>
                    It is also convenient to use Hongkong International Airport for international travellers to Shenzhen.
                    There are several ways connecting the HK Airport and Shenzhen including ferries+taxi, shuttle bus, metro and etc.
                </p>
            </div>
            <div class="col-12" id="s1">
                <h3>Main accomodation options in Nanshan</h3>
                <p>
                    Symposium hotel(Kylin Villa) will offer the accommodation. The price is 800RMB/night (symposium discount price).
                    You can also select other hotel.
                </p>
                <table class="table table-bordered">
                    <thead class="table-secondary">
                        <tr><th>Symposium Hotel</th><th>Rates in RMB</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Kylin Villa(麒麟山庄)</td><td>800/night</td></tr>
                    </tbody>
                    <thead class="table-secondary">
                        <tr><th colspan="2">Other Hotel Options(Chinese name;distance)</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Golden Lily Hotel (金百合大酒店;2.5KM)</td><td>368/night</td></tr>
                        <tr><td>Xili Lake Holiday Resort(西丽湖酒店;2.3KM)</td><td>298/night</td></tr>
                        <tr><td>Kylin Villa Reception Center(麒麟山庄接待中心;0.2KM)</td><td>318/night</td></tr>
                    </tbody>
                </table>
                <hr />
            </div>
            <div class="col-12" id="s2">
                <h3>From Shenzhen Airort to Kylin Villa(麒麟山庄)</h3>
                <p>
                    If you leave from Shenzhen Airport,you can call a taxi.It is 27 KM.It takes you about 30 minutes to get there.
                    It costs you about 80Yuan.
                </p>
                <p>
                    <img src="~/Content/Images/TA05.png" style="max-width:100%" />
                </p>
                <hr />
            </div>
            <div class="col-12" id="s3">
                <h3>From Hongkong jiulong airport to Kylin Villa</h3>
                <p>
                    If you leave from Hongkong Airport to Kylin Villa,the easiest way is asking a taxi to take you from Hongkong Airport 
                    to Huanggang Port.It costs you about 300Hongkong dollars.After getting through the custom,call a taxi to take you from
                    Huanggang Port to Kylin Villa. It costs you around 70Yuan. It takes you 90 minutes. The second way is: You can take the airport
                    bus from airport to Huanggang Port. Then take subway from Huanggang Port Station to Xili Lake Station. It costs you about 100Yuan.
                </p>
                <img src="~/Content/Images/TA02.png" style="max-width: 100%" class="mb-4" />
                <br />
                <img src="~/Content/Images/TA03.png" style="max-width: 100%" />
                <hr />
            </div>
            <div class="col-12" id="s4">
                <h3>From Shenzhen north to Kylin Villa</h3>
                <p>
                    If you leave from Shenzhen north,you can take subway from Shenzhen North Station to Xili Lake Station;or directly call a taxi 
                    to Kylin Villa from Shenzhen North Station.Totally 10 KM. It takes you around 18 minutes.
                </p>
                <img src="~/Content/Images/TA04.jpg" style="max-width: 100%" />
                <hr />
            </div>
            <hr />
            <div class="col-12" id="s5">
                <p>*Kylin Villa(麒麟山庄) offers the accommodation.More information about Kylin Villa is displayed in the Venue</p>
                <p>** Price range may vary with seasons.We recommend you secure your accomodation as soon as you confirm your 
                participation in the symposium. RMB (Yuan) to US dollar exchange rate is 0.1582,Hongkong dollar to US dollar exchange rate is 0.1275. 
                Check a currency converter when you plan your trip.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-lg-block border-left">
        <h4 class="m-2">Directory</h4>
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#s1">Main accomodation options in Nanshan</a>
                <a class="nav-link text-secondary" href="#s2">From Shenzhen Airort to Kylin Villa</a>
                <a class="nav-link text-secondary" href="#s3">From Hongkong jiulong airport to Kylin Villa</a>
                <a class="nav-link text-secondary" href="#s4">From Shenzhen north to Kylin Villa</a>
                <a class="nav-link text-secondary" href="#s5">Remarks</a>
            </li>
        </ul>
    </div>
</div>

