
@{
    ViewBag.Title = "Blocking Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Blocking Access</h2>
    <h5>You are not allowed to access the current page.</h5>
</div>

